pkgbase = doppler-cli-bin
	pkgdesc = CLI utility for Doppler, environment and secrets manager.
	pkgver = 3.69.1
	pkgrel = 1
	url = https://doppler.com
	arch = x86_64
	license = Apache
	source = doppler-cli-bin.3.69.1.tar.gz::https://github.com/DopplerHQ/cli/releases/download/3.69.1/doppler_3.69.1_linux_amd64.tar.gz
	sha256sums = b570de6bf8dfb092c748b4836b60f1f753c4f480dd3237931ab8a7a4432527d9

pkgname = doppler-cli-bin
